<div class="tm-container-inner tm-history d-flex justify-content-center">
    <div class="row">
        <div class="col-12">
            <div class="tm-history-inner">
                <img src="assets/img/IMG-0282.jpg" alt="Image" class="img-fluid tm-history-img" />
                <div class="tm-history-text">
                    <ul>
                        <li class="tm-nav-li">
                            <h4 class="tm-history-title">About me</h4>

                        </li>
                        <li class="tm-nav-li">
                            <p class=" tm-person-title ">Name: Nelica Stojadinovic</p>
                        </li>
                        <li class="tm-nav-li">
                            <p class="tm-person-title ">
                                Date of birth: 30.06.1999.</p>
                        </li>
                        <li class="tm-nav-li">
                            <p class="tm-person-title ">High school: Gimnazija Velika Plana</p>
                        </li>
                        <li class="tm-nav-li">
                            <p class="tm-person-title ">College: ICT College of Vocation Studies</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>